---
import ProjectCard from "../components/ProjectCard.astro";
import Main from "../layout/main.astro";
---

<Main>
    <h1 class="py-8 text-6xl font-extrabold bg-gradient-to-l from-treelar via-treelar to-muse bg-clip-text text-transparent">Tyler's Projects</h1>
    <div class="w-8/12 self-start">
        <ProjectCard data={{
            title: "Fission",
            desc: "An alternative to the CSUN SRC app.",
            slug: "fission"
        }}/>
    </div>
</Main>