---
interface Props {
    data: {
        title: string,
        desc: string
        slug: string
    }
}
const props = Astro.props
---

<div class="flex w-full bg-gray-700 rounded p-8 text-white space-x-4">
    <span class="text-9xl font-bold bg-clip-text bg-gradient-to-tr from-muse via-treelar to-treelar text-transparent">分</span>
    <div class="flex-col space-y-4">
        <h1 class="text-2xl">{props.data.title}</h1>
        <div>
            {props.data.desc}
        </div>
        <div>
            <a href={`${import.meta.env.BASE_URL}/posts/${props.data.slug}`}>
                <div class="rounded-full w-min bg-blue-400 text-2xl p-1 px-4">
                    >
                </div>
            </a>
        </div>
    </div>
</div>