<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://treelar.xyz/logo/logo2020.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Treelar's CSUN</title>
	</head>
	<body class="bg-zinc-800">
		<div class="grid w-screen min-h-screen place-items-center">
            <slot/>
        </div>
	</body>
</html>
