<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://treelar.xyz/logo/logo2020.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="cMn55nqQM2YTAjZG68nnBhG8wumNkkzwCISiAbIcKrM" />
		<title>Treelar's CSUN</title>
	</head>
	<body class="bg-zinc-800 overflow-x-hidden">
		<article class="md:w-7/12 mx-auto prose-xl p-16 text-white prose-a:text-treelar prose-a:underline">
            <slot/>
        </article>
	</body>
</html>
